*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    
}
body{
    margin: 0;
    background-color: rgb(35, 10, 55) ;
    
}
header{
    height: 100px;
    background-color: rgb(35, 10, 55);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
    box-shadow: 0 2px 25px 1px rgb(161, 129, 223);
}
.contain{
    padding: 20px;
}
.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-head h1{
    color: white;
    letter-spacing: 3px;
    font-size: 34px;
    font-family: monospace;
    margin: 0;
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 5px 10px;
    border: none;
    display: inline-block;
    padding: 5px;
    transition: all linear 0.7s;
    margin-right: 10px;
    position: relative;
    z-index: 2;
}
nav li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
    font-family: Arial;
    letter-spacing: 2px;
    padding: 0px;
}
a {
    text-decoration: none;
}
section {
    height: 100vh; /* Set the desired height for each section */
    width: 100%;
    align-items: center;
    display: grid;
    padding-top: 100px;
     /* Set the desired width for each section */
  }
  .section-content {
    
     /* Fill the entire height of the section */
    width: 100%; /* Fill the entire width of the section */
    align-items: center;
    display: grid;
    align-content: space-around;
    justify-items: stretch;
  }
  .about{
    
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    
    width: 100%;
    height: 100%;
    margin: 0;
}


.pic img {
    width: 23em;
    height: 23em;
    border: none;
    border-radius: 13rem;
    margin-right: 1em;
    
    
}
.pic{
    width:49%;
    height:auto;
    text-align: right;
    
}

.me {
    
    margin-left: 1em;
    width: 40%;
    height: auto;
    margin-right: 0em;
}
.me p{
    text-align: justify;
    color: aliceblue;
    font-family: Arial;
    letter-spacing: 3px;
    font-size: 17px;
    
}
.me h1{
        color: white;
        font-family: monospace;
        margin-bottom: 20px;
        
        font-size: 35px;
        letter-spacing: 4px;
}
button.Resume {
    border: none;
    background-color: #3a3141;
    text-align: center;
    width: 125px;
    height: 58px;
    border-radius: 2rem;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 2px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 30px;
}
button.Resume:hover{
    background-color: #6a3a7e;
    transition: background-color 0.5s cubic-bezier(1, -0.22, 0, 1.21);
}
button.hire {
    border: none;
    background-color: #3a3141;
    text-align: center;
    width: 125px;
    height: 58px;
    border-radius: 2rem;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 2px;
    margin-left: 40px;
    cursor: pointer;
    margin-top: 30px;
}
button.hire:hover{
    background-color: #6a3a7e;
    transition: background-color 0.5s cubic-bezier(1, -0.22, 0, 1.21);
}
    
/*Education*/


h1.title{

    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    font-family: monospace;
    font-weight: 500;
    padding-top: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 50px;
    
}
.box1 {
    color: white;
    background-color: #6c35f338;
    box-shadow: 0 2px 25px 1px rgb(161, 129, 223);
    padding: 20px;
    margin: 0px;
    border: none;
    border-radius: 4rem;
    font-family: system-ui;
    width: 300px;
    height: 330px;
    text-align: center;
    
}
.box1 h2 {
    letter-spacing: 2px;
    font-size: 27px;
}
.box1 h3 {
    letter-spacing: 3px;
    font-size: 22px;
}
.box1 h4 {
    letter-spacing: 4px;
    
}
.box1 p {
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 10px;
}
.box2 {
    color: white;
    background-color: #6c35f338;
    box-shadow: 0 2px 25px 1px rgb(161, 129, 223);
    padding: 20px;
    margin: 0px;
    border: none;
    border-radius: 4rem;
    font-family: system-ui;
    width: 300px;
    height: 330px;
    text-align: center;
    
}
.box2 h2 {
    letter-spacing: 2px;
    font-size: 27px;
}
.box2 h3 {
    letter-spacing: 3px;
    font-size: 22px;
}
.box2 h4 {
    letter-spacing: 4px;
    
}
.box2 p {
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 10px;
}
/* ----------------------Skills----------------*/

h1.titl{
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    font-family: monospace;
    font-weight: 500;
    
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 4rem;
    padding-top: 3rem;
    
}
.box{
    width: 300px;
    height: 418px;
    margin: 0px;
    margin-bottom: 40px;
    position: relative;
    transition: transform 1800ms;
    transform-style: preserve-3d;
}
.box:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,.back{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: none;
    border-radius: 4rem;
    text-align: center;
    box-shadow: 0 2px 25px 1px rgb(138, 108, 197);
}
.front{
    color: white;    
    background-color:#6c35f338;
}
.back{
    color: white;
    background-color: rgb(91, 62, 149);
    transform: rotateY(180deg);
}
.front p{
    padding: 20px;
    margin-top: 50px;
}
.front img {
    width: 100%;
    height: 100%;
  }
.skill-bar{
    margin: 20px;
    margin-top: 30px;
    
}
.skill-bar h3{
    font-size: 17px;
    font-family: cursive;
    font-weight: 300;
    letter-spacing: 3px;
    
}
.skill-bar .info {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 10px;
}
.info p{
    margin: 10px;
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 3px;
}
.bar p{
    margin: 2px;
}
.skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgb(65, 65, 66);
    border: none;
    border-radius: 2rem;
    position: relative;
}
.skill-bar .bar span{
    width: 50%;
    height: 10px;
    position: absolute;
    left: 0;
    background-color: rgba(255, 145, 209, 0.94);
    border-radius: 25px;
    box-shadow: 0 0px 2px 1px rgb(255, 109, 221)
}
.skill-bar .bar .python{
    width: 45%;
}
.skill-bar .bar .java{
    width: 40%;
}
.skill-bar .bar .dml{
    width: 70%;
}
.skill-bar .bar .dcl{
    width: 70%;
}
.skill-bar .bar .dql{
    width: 70%;
}
.skill-bar .bar .ddl{
    width: 75%;
}
.skill-bar .bar .html{
    width: 85%;
}
.skill-bar .bar .css{
    width: 65%;
}
.skill-bar .bar .js{
    width: 45%;
}
.skill-bar .bar .php{
    width: 50%;
}



.info h4{
    margin: 5px;
    font-size: 16px;
    font-family: monospace;
    letter-spacing: 2px;
}
/* ----------------------Contact page----------------*/
h1.heading{
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    font-family: cursive;
    font-weight: 500;
    
}
.contact {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.content h2{
    color: rgb(244, 246, 237);
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    font-weight: 400;
    letter-spacing: 3px;
    
}
.content{
    text-align: center;
    background-color: rgba(34, 19, 71, 0.741);
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: 0 0px 12px 4px rgb(198, 205, 205);
}

form{
display: flex;
flex-direction: column;
width: 28rem;
padding: 0px 0px;

}
form input {
    height: 4rem;
    margin: 10px;
    text-align: left;
    padding-left: 12px;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color:white;
    
    font-size: 15px;
font-family:cursive;
font-weight: 200;
letter-spacing: 2px;
}
form input::placeholder{
color: black;
margin: 12px;
font-size: 14px;
font-family:cursive;
font-weight: 200;
letter-spacing: 2px;


}
form textarea {
    height: 3rem;
    margin: 10px;
    text-align: left;
    padding-left: 12px;
    padding-top: 12px;
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color:white;
    
    font-size: 15px;
font-family:cursive;
font-weight: 200;
letter-spacing: 2px;
}
form textarea::placeholder{
    color: black;
    
    margin: 12px;
    font-size: 14px;
    font-family:cursive;
    font-weight: 200;
    letter-spacing: 2px;
    
    
    }
form button{
    height: 4rem;
    width: 9rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    padding: 10px;
    margin: 20px;
    margin-left: 10rem;
    cursor: pointer;
    background-color: rgb(85, 51, 208);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 17px;
    box-shadow: 0 0px 2px 1px rgb(158, 143, 247);
}
form button:hover{
    background-color: rgb(38, 60, 60);
    box-shadow: 0 0px 2px 1px rgb(116, 125, 125);
    color: white;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icons{
    cursor: pointer;
    transition: transform ease-in-out 0.15ms;
}
.icons:hover{
    transform:  scale(1.2);
}

.icon{
    cursor: pointer;
    
    
}

button.icon {
    border: none;
    background-color: rgb(34, 19, 71, 0.741);
    outline: none;
    transition: transform ease-in-out 0.15ms;
    width: 100px;
    height: 97px;
    margin: 30px;
}
button.icon:hover{
    transform:  scale(1.2);
}
/*-------------js code ------------------*/
nav a.active{
    font-weight: bold;
    color: aqua;
}
.hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }
/* Add this CSS within your <style> or CSS file */
@media screen and (max-width: 767px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
       nav ul{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:rgb(35, 10, 55);
        width: 100%;
        text-align: center;
        transition: 0.7s;
        box-shadow: 14px 42px 30px -40px rgb(161, 129, 223);
       }
        nav ul li {
            margin: 16px 0px;
        }
        nav ul.active{
            left: 0;
        }

        .main-head h1{
            color: white;
            letter-spacing: 3px;
            font-size: 24px;
            font-family: cursive;
            margin: 0;
            cursor: pointer;
        }
        header{
            height: 80px;
        }
        #about{
            padding-top:100px ;
        }
        section {
            height: auto; /* Set the desired height for each section */
            width: 100%;
            
            align-items: center;
            
             /* Set the desired width for each section */
          }
          .section-content {
            
             /* Fill the entire height of the section */
            width: 100%; /* Fill the entire width of the section */
            align-items: center;
            display: grid;
            align-content: space-around;
            justify-items: stretch;
          }
          .about{
            display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
        }
        
        
        .pic img {
            width: 21em;
            height: 21em;
            border: none;
            border-radius: 13rem;
            margin:0;
            
            
        }
        .pic{
            width:100%;
            height:auto;
            text-align: center;
            
        }
        .me {
            width: 100%;
    height: auto;
    margin: 0px;
    padding: 10px;

    
        }
        .me p{
            text-align: justify;
            color: aliceblue;
            font-family: 'Courier New', Courier, monospace;
            letter-spacing: 3px;
            font-size: 17px;
            
        }
        .me h1{
                color: white;
                font-family: Lato;
                margin-bottom: 20px;
                
                font-size: 35px;
                letter-spacing: 4px;
        }
       
            
        /*Education*/
        
        
        h1.title{
        
            color: white;
            text-align: center;
            letter-spacing: 3px;
            font-size: 35px;
            font-family: cursive;
            font-weight: 500;
            padding-top: 20px;
        }
        
        .card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            color: white;
            padding-top: 50px;
            
        }
        .box1 {
            color: white;
            background-color: #6c35f338;
            box-shadow: 0 2px 25px 1px rgb(161, 129, 223);
            padding: 20px;
            margin-bottom: 40px;
            border: none;
            border-radius: 4rem;
            font-family: system-ui;
            width: 300px;
            height: 330px;
            text-align: center;
            margin: 35px;
        }
        .box1 h2 {
            letter-spacing: 2px;
            font-size: 27px;
        }
        .box1 h3 {
            letter-spacing: 3px;
            font-size: 22px;
        }
        .box1 h4 {
            letter-spacing: 4px;
            
        }
        .box1 p {
            font-size: 20px;
            letter-spacing: 2px;
            padding-left: 10px;
        }
        .box2 {
            color: white;
            background-color: #6c35f338;
            box-shadow: 0 2px 25px 1px rgb(161, 129, 223);
            padding: 20px;
            margin: 0px;
            border: none;
            border-radius: 4rem;
            font-family: system-ui;
            width: 300px;
            height: 330px;
            text-align: center;
            margin: 35px;
            
        }
        .box2 h2 {
            letter-spacing: 2px;
            font-size: 27px;
        }
        .box2 h3 {
            letter-spacing: 3px;
            font-size: 22px;
        }
        .box2 h4 {
            letter-spacing: 4px;
            
        }
        .box2 p {
            font-size: 20px;
            letter-spacing: 2px;
            padding-left: 10px;
        }
        /* ----------------------Skills----------------*/
        
        h1.titl{
            color: white;
            text-align: center;
            letter-spacing: 3px;
            font-size: 35px;
            font-family: cursive;
            font-weight: 500;
            
        }
        .cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            border: none;
            border-radius: 4rem;
            padding-top: 3rem;
            
        }
        .box{
            width: 300px;
            height: 418px;
            margin: 35px;
            position: relative;
            transition: transform 1800ms;
            transform-style: preserve-3d;
        }
        .box:hover {
            cursor: pointer;
            transform: rotateY(180deg);
        }
        
        .front,.back{
            height: 100%;
            width: 100%;
            position: absolute;
            backface-visibility: hidden;
            border: none;
            border-radius: 4rem;
            text-align: center;
            box-shadow: 0 2px 25px 1px rgb(138, 108, 197);
        }
        .front{
            color: white;    
            background-color:#6c35f338;
        }
        .back{
            color: white;
            background-color: rgb(91, 62, 149);
            transform: rotateY(180deg);
        }
        .front p{
            padding: 20px;
            margin-top: 50px;
        }
        .front img {
            width: 100%;
            height: 100%;
          }
        .skill-bar{
            margin: 20px;
            margin-top: 30px;
            
        }
        .skill-bar h3{
            font-size: 17px;
            font-family: cursive;
            font-weight: 300;
            letter-spacing: 3px;
            
        }
        .skill-bar .info {
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 10px;
        }
        .info p{
            margin: 10px;
            font-size: 20px;
            font-family: monospace;
            letter-spacing: 3px;
        }
        .bar p{
            margin: 2px;
        }
        .skill-bar .bar{
            width: 100%;
            height: 10px;
            background-color: rgb(65, 65, 66);
            border: none;
            border-radius: 2rem;
            position: relative;
        }
        .skill-bar .bar span{
            width: 50%;
            height: 10px;
            position: absolute;
            left: 0;
            background-color: rgba(255, 145, 209, 0.94);
            border-radius: 25px;
            box-shadow: 0 0px 2px 1px rgb(255, 109, 221)
        }
        .skill-bar .bar .python{
            width: 45%;
        }
        .skill-bar .bar .java{
            width: 40%;
        }
        .skill-bar .bar .dml{
            width: 70%;
        }
        .skill-bar .bar .dcl{
            width: 70%;
        }
        .skill-bar .bar .dql{
            width: 70%;
        }
        .skill-bar .bar .ddl{
            width: 75%;
        }
        .skill-bar .bar .html{
            width: 85%;
        }
        .skill-bar .bar .css{
            width: 65%;
        }
        .skill-bar .bar .js{
            width: 45%;
        }
        .skill-bar .bar .php{
            width: 50%;
        }
        
        
        
        .info h4{
            margin: 5px;
            font-size: 16px;
            font-family: monospace;
            letter-spacing: 2px;
        }
        /* ----------------------Contact page----------------*/
        h1.heading{
            color: white;
            text-align: center;
            letter-spacing: 3px;
            font-size: 35px;
            font-family: cursive;
            font-weight: 500;
            
        }
        .contact {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
        }
        .content h2{
            color: rgb(244, 246, 237);
            text-align: center;
            font-size: 25px;
            font-family: monospace;
            font-weight: 400;
            letter-spacing: 3px;
            padding: 5%;
        }
        .content{
            text-align: center;
            background-color: rgba(34, 19, 71, 0.741);
            margin-bottom: 20px;
            margin-top: 40px;
            box-shadow: 0 0px 12px 4px rgb(198, 205, 205);
            padding: 20px;
        }
        
        form{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 0px;
        align-items: center;
        
        }
        form input {
            height: 4rem;
            margin: 10px;
            text-align: left;
            padding-left: 10px;
            border: none;
            outline: none;
            border-radius: 1rem;
            background-color: white;
            font-size: 19px;
            font-family: cursive;
            font-weight: 200;
            letter-spacing: 2px;
        }
        form input::placeholder{
        color: black;
        margin: 12px;
        font-size: 12px;
        font-family:cursive;
        font-weight: 200;
        letter-spacing: 2px;
        
        
        }
        form textarea {
            height: 4rem;
            margin: 10px;
            text-align: left;
            padding-left: 10px;
            border: none;
            outline: none;
            border-radius: 1rem;
            background-color: white;
            font-size: 22px;
            font-family: cursive;
            font-weight: 200;
            letter-spacing: 2px;
        }
        form textarea::placeholder{
            color: black;
            
            margin: 12px;
            font-size: 12px;
            font-family:cursive;
            font-weight: 200;
            letter-spacing: 2px;
            
            
            }
        form button{
            height: 55px;
            width: 130px;
            border: none;
            outline: none;
            border-radius: 3rem;
            padding: 10px;
            margin: 20px;
            cursor: pointer;
            background-color: rgb(85, 51, 208);
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 300;
            letter-spacing: 3px;
            font-size: 17px;
            box-shadow: 0 0px 2px 1px rgb(158, 143, 247);
            text-align: center;
        }
        form button:hover{
            background-color: rgb(38, 60, 60);
            box-shadow: 0 0px 2px 1px rgb(116, 125, 125);
            color: white;
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        
        .icons{
            cursor: pointer;
            transition: transform ease-in-out 0.15ms;
        }
        .icons:hover{
            transform:  scale(1.2);
        }
        
        .icon{
            cursor: pointer;
            
            
        }
        
        button.icon {
            border: none;
            background-color: rgb(34, 19, 71, 0.741);
            outline: none;
            transition: transform ease-in-out 0.15ms;
            width: 100px;
            height: 97px;
            margin: 30px;
        }
        button.icon:hover{
            transform:  scale(1.2);
        }
}
